<div class="container">
    <p class="no-recipes" *ngIf="recipes">There are no recipes yet...</p>
    <div *ngFor="let recipe of recipes" class="card">
        <div class="image-container">
            <img [attr.src]="recipe.image" alt={{recipe.title}}>
        </div>
        <div class="content-container">
            <a [routerLink]="['/details/', recipe._id]">{{recipe.title}}</a>
            <a [routerLink]="['/profile/', recipe.author._id]">{{recipe.author.username}}</a>
        </div>
    </div>
</div>


