
<div class="container">
    <h1>Edit your recipe</h1>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="image-container">
            <img [attr.src]="defaultImage" alt={{titleValue}}/>
        </div>

        <label class="file-label" for="image">Select your recipe photo</label>
        <input class="input-file" name="image" id="image" type="file" #file="ngModel" (change)="OnFileChange($event)" ngModel>

        <div *ngIf="selectedImage" class="image-selected-container" >
            <p *ngIf="selectedImage">{{selectedImage}}</p>
        </div>
        <label for="title">Title</label>
        <input name="title" id="title" type="text" ngModel [(ngModel)]="titleValue">

        <label for="prepTime">Prep Time</label>
        <input class="time-input" name="prepTime" id="prepTime" type="number" ngModel [(ngModel)]="prepTimeValue">

        <label for="cookingTime">Cooking Time</label>
        <input class="time-input" name="cookingTime" id="cookingTime" type="number" ngModel [(ngModel)]="cookingTimeValue">

        <label for="ingredient">Ingredient</label>
        <div>
            <input name="ingredient" id="ingredient" type="text" ngModel #inputIngredients="ngModel" [ngClass]="[ingredients.length> 0 ? 'valid' : 'invalid']">
            <button type="button" class="add-btn btn-integrient" (click)="onAddIngredient($event)">Add</button> 
        </div>
        <ol *ngIf="ingredients.length > 0">
            <li *ngFor="let ingredient of ingredients; let i=index">
                <p>{{ingredient}}</p>
                <button type="button" (click)="onRemoveStep(i, 'ingredients')">x</button>
            </li>
        </ol>
        <label for="direction">Directions</label>
        <div>
            <input  name="direction" id="direction" type="text" ngModel #inputDirections="ngModel" [ngClass]="[directions.length> 0 ? 'valid' : 'invalid']">
            <button type="button" class="add-btn btn-direction" (click)="onAddDirection($event)">Add</button>
        </div>
        <ol *ngIf="directions.length > 0">
            <li *ngFor="let direction of directions; let i=index">
                <p>{{direction}}</p>
                <button type="button" (click)="onRemoveStep(i, 'direction')">x</button>
            </li>
        </ol>
        <button type="submit" [disabled]="form.invalid? true: false">Save</button>
    </form>
</div>