<div class="container">
    <div class="meal-container">
        <h1>&#8226; Chocolate cake &#8226;</h1>
        <div>
            <img src="../../../assets/kaouther-djouada-hcEDfkiVmMI-unsplash.jpg" alt="">
        </div>
    </div>
    <div class="prep-container">
        <div class="time-container">
            <p class="time-title">Prep time</p>
            <p class="time">10 mins</p>
        </div>
        <div class="time-container">
            <p class="time-title">Cook time</p>
            <p class="time">40 mins</p>
        </div>
        <div class="time-container">
            <p class="time-title">Total time</p>
            <p class="time">50 mins</p>
        </div>
    </div>
    <div class="ingredients-container">
        <h2>Ingredients</h2>
        <ul>
            <li>2 tablespoons unsalted butter, melted</li>
            <li>4 cups shredded rotisserie chicken</li>
            <li>1 (15 ounce) package frozen mixed vegetables</li>
            <li>1 teaspoon chopped fresh thyme, plus more for garnish</li>
            <li>3/4 teaspoon freshly ground black pepper</li>
        </ul>
    </div>
    <div class="directions-container">
        <h2>Directions</h2>
        <ol>
            <li>Preheat the oven to 350 degrees F (175 degrees C). Coat the bottom of a 13x9-inch baking dish with
                melted butter.</li>
            <li>Place shredded chicken and vegetables into the dish; season with thyme, pepper, and salt. Pour over
                condensed soup, broth, and cream; stir until well combined.</li>
            <li>Prepare biscuit mix according to package instructions.</li>
            <li>Drop 8 (about 1/4 cup) biscuit dough portions onto chicken and vegetable mixture.</li>
            <li>Bake in the preheated oven, uncovered, until biscuits are golden brown on top and casserole is bubbling
                around the edges, about 40 minutes. Sprinkle with thyme.</li>
        </ol>
    </div>

    <div class="profile">
        <img src="" alt="">
    </div>
</div>