/* You can add global styles to this file, and also import other style files */
:root{
    --black: #404040;
    --white: #F2F2F2;
    --beige: #F2E6D0;
    --light-yellow: #F2C744;
    --dark-yellow: #F2B749;

}