
<div class="container">
        <h1>Register</h1>
        <p>Register to can save and post your favorite receipts!</p>
        <hr>
        <form action="">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <label for="email">Email</label>
            <input type="text" name="email" id="email">
            <label for="password">Password</label>
            <input type="text" name="password" id="password">
            <label for="confirm-password">Confirm Password</label>
            <input type="text" name="confirm-password" id="confirm-password">
            <button type="button">Register</button>
        </form>
        <div>
        <p>You have an account?</p>
        <a routerLink="/login">Login</a>
    </div>
    </div>
