
<div class="container">
        <h1>Register</h1>
        <p>Register to can save and post your favorite receipts!</p>
        <hr>
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <p class="error" *ngIf="errors">{{errors}}</p>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" #usernameInput="ngModel" ngModel required minlength="3">
            <p class="error" *ngIf="usernameInput.errors?.['required'] && usernameInput.touched">Username is required!</p>
            <p class="error" *ngIf="usernameInput.errors?.['minlength'] && usernameInput.touched">Username should be at least 3 characters</p>
            
            <label for="email">Email</label>
            <input type="text" name="email" id="email" #emailInput="ngModel" ngModel email required>
            <p class="error" *ngIf="emailInput.errors?.['required'] && emailInput.touched">Email is required!</p>
            <p class="error" *ngIf="emailInput.errors?.['email'] && emailInput.touched">The email is not correct!</p>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" #passwordInput="ngModel" ngModel required minlength="5">
            <p class="error" *ngIf="passwordInput.errors?.['required'] && passwordInput.touched">Password is required!</p>
            <p class="error" *ngIf="passwordInput.errors?.['minlength'] && passwordInput.touched">Password should be at least 5 characters</p>

            <label for="confirm-password">Confirm Password</label>
            <input type="password" name="confirm-password" id="confirm-password" #confirmPasswordInput="ngModel" ngModel required minlength="5">
            <p class="error" *ngIf="confirmPasswordInput.errors?.['required']&& confirmPasswordInput.touched">Confirm password is required!</p>
            <p class="error" *ngIf="confirmPasswordInput.errors?.['minlength'] && confirmPasswordInput.touched">Confirm password should be at least 5 characters</p>

            <button type="submit" [disabled]="form.invalid? true: false">Register</button>
        </form>
        <div>
        <p>You have an account?</p>
        <a routerLink="/login">Login</a>
    </div>
    </div>
