
    <div class="container">
        <h1>Login</h1>
        <p>Login to see your saved receipts</p>
        <hr>
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">

            <label for="email">Email</label>
            <input type="text" name="email" id="email" ngModel>

            <label for="password">Password</label>
            <input type="text" name="password" id="password" ngModel>

            <button type="submit" [disabled]="form.invalid? true: false">Login</button>
        </form>
        <div>
        <p>You don't have an account?</p>
        <a routerLink="/register">Register</a>
        </div>
    </div>
