<header>
    <a class="logo" routerLink="/">cookIT</a>
    <nav>
        <ul>
            <li><a class="links" routerLink="/">Catalog</a></li>
            <li><a class="links" routerLink="/login">Login</a></li>
            <li><a class="links" routerLink="/register">Register</a></li>
          
            <li><a class="links" routerLink="/profile/:id">Profile</a></li>
              <!-- 
            <li><a class="links" routerLink="/create">Create</a></li>
            <li><a class="links" routerLink="/logout">logout</a></li> 
            -->
        </ul>
    </nav>
</header>