header{
    min-width: 100%;
    background-color: var(--light-yellow);
    display: flex;
    padding: 0.5em 12%;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    text-decoration: none;
    color: var(--black);
    font-weight: 700;
    font-size: 2.5em;
    padding: 0;
    font-family: var(--Dancing);
    
}

header ul{
    margin: 0;
    display: flex;
    justify-content: space-around;
    gap: 1.2em;
}

header li{
    display: inline;
   
}
header .links{
    color: var(--beige);
    text-decoration: none;
    font-size: 1em;
   background-color: var(--black);
   padding: 0.4em 1em;
   border-radius: 0.9em;
}


header a.links:hover{
    color: var(--dark-yellow);
}